  * {
            font-family: Muli, sans-serif;
            text-align: center;
            background: black;
            color: mediumpurple;
        }
        
h2 { 
            font-family: Lemonada, cursive;
            color: rebeccapurple;
        }
.error{
	color:orange;
}

nav{
	background-color: black;
	padding: 2px;
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
}

nav a, nav a:visited {
	padding: 10px;
	border:1px lightgray solid;
	color: lightgray;
	text-decoration: none;
}